<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<form method="post" action="#">
    ID <input type="number" name="idAngajat">
    <br>
    Nume <input type="text" name="nume">
    <br>

    Prenume <input type="text" name="prenume">
    <br>
    Functie <input type="text" name="functie">
    <br>

    Data angajarii <input type="date" name="data_angajarii">
    <br>
    Telefon <input type="number" name="telefon">
    <br>

    Email <input type="text" name="email">
    <br>
    Salariu <input type="number" name="salariu">
    <br>

    <input type="submit" value="submit">

</form>