<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<form method="post" action="#">
<select id="numeP" name="numeP">
    {% for producator in producatoriMaterial %}
    <option value="{{ producator.Denumire }}">{{ producator.Denumire }}</option>
    {% endfor %}
</select>

<select id="categorieM" name="categorieM">
    {% for categorie in categoriiMaterial %}
    <option value="{{ categorie.Categorie }}">{{ categorie.Categorie }}</option>
    {% endfor %}
</select>

Denumire <input type="text" name="denumireM">
    <br>
   Unitati <input type="number" name="unitatiM">
    <br>

    Pret <input type="number" name="pretM">
    <br>
    Garantie <input type="number" name="garantieM">
    <br>

    <input type="submit" value="submit">
    </form>