<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/style.css">
<style>
@font-face {
  font-family: Lato-Regular;
  src: url("/static/fonts/Lato-Regular.ttf");
}
.right-side {
  width: 100%;
}
</style>
<body>
<div class="header">
    <h2 class="header-title">ANGAJATI</h2>
    {% if session['username'] %}
    <div class="username">
    <p>{{ session['username'] }}</p>
    <img class="arrow-down" src="../static/img/arrow-down.svg" alt="arrow-down"/>
    </div>
    <div class="logout">
    <p>{{ session['numePrenume'] }}</p>
    <p>{{ session['email'] }}</p>
    <p><a href="/logout">Logout</a></p>
    </div>
</div>
<div class="container">
    <ul class="left-side">
            <li>
                <a href="{{ url_for('homePage') }}">
                <div class="menuButton">
                <h4 class="buttonText">Acasa</h4>
                </div>
                </a>
            </li>
            <li>
                <a>
                <div class="menuButton" id="disabled">
                <h4 class="buttonText">Angajati</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('getProducatori') }}">
                <div class="menuButton">
                <h4 class="buttonText">Producatori</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('getMateriale') }}">
                <div class="menuButton">
                <h4 class="buttonText">Materiale</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('categoriiMateriale') }}">
                <div class="menuButton">
                <h4 class="buttonText">Categorii</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('getGrafice') }}">
                <div class="menuButton">
                <h4 class="buttonText">Statistici</h4>
                </div>
                </a>
            </li>
    </ul>
    <div class="right-side">
    <table rules="none">
                <tr class="table-header">
                <th>ID</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Functie</th>
                <th>Data angajarii</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Salariu</th>

                </tr>
                {% for angajat in angajati %}
            <tr>
                <td>{{ angajat.idAngajat }}</td>
                <td>{{ angajat.Nume }}</td>
                <td>{{ angajat.Prenume }}</td>
                <td>{{ angajat.Functie }}</td>
                <td>{{ angajat.DataAngajarii }}</td>
                <td>{{ angajat.Telefon }}</td>
                <td>{{ angajat.Email }}</td>
                <td>{{ angajat.SalariuRON }}</td>

                <td class="td-button"><a class="td-button-link" id="edit" href="{{ url_for('editAngajat', id = angajat.idAngajat) }}">Edit</a></td>
                <td class="td-button"><a class="td-button-link" id="delete" href="{{ url_for('deleteAngajat', id = angajat.idAngajat) }}">Delete</a></td>
            </tr>
        {% endfor %}
{% endif %}
            </table>
            <div class="button-adauga">
            <a href="{{ url_for('adauga')}}">Adauga</a>
            </div>
        </div>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="static/js/dropD.js"></script>
</html>