<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/style.css">
<style>
@font-face {
  font-family: Lato-Regular;
  src: url("../static/fonts/Lato-Regular.ttf");
}
.right-side {
  width: 100%;
}
</style>


<body>
<div class="header">
    <h2 class="header-title">CATEGORII</h2>
    {% if session['username'] %}
</div>
<div class="container">
    <ul class="left-side">
            <li>
                <a href="{{ url_for('homePage') }}">
                <div class="menuButton">
                <h4 class="buttonText">Acasa</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('getAngajati') }}">
                <div class="menuButton">
                <h4 class="buttonText">Angajati</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('getProducatori') }}">
                <div class="menuButton">
                <h4 class="buttonText">Producatori</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('getMateriale') }}">
                <div class="menuButton">
                <h4 class="buttonText">Materiale</h4>
                </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('categoriiMateriale') }}">
                <div class="menuButton">
                <h4 class="buttonText">Categorii</h4>
                </div>
                </a>
            </li>
    </ul>
    <div class="right-side">
    <table rules="none" id="tabelul">
                <tr class="table-header">
                <th>Denumire</th>
                <th>Producator</th>
                <th>Unitati</th>
                <th>Pret RON</th>
                <th>Garantie Luni</th>
                <th>Responsabil Raion</th>
                <th>Telefon</th>
                <th>Raion</th>
                <th>Categorie</th>
                </tr>
                {% for material in materiale %}
            <tr>

                <td>{{ material.DenumireMaterial }}</td>
                <td>{{ material.DenumireProducator }}</td>
                <td>{{ material.Unitati }}</td>
                <td>{{ material.PretRON }}</td>
                <td>{{ material.GarantieLuni }}</td>
                <td>{{ material.NumeResponsabil }}</td>
                <td>{{ material.TelefonResponsabil }}</td>
                <td>{{ material.Raion }}</td>
                <td>{{ material.Categorie }}</td>

            </tr>
        {% endfor %}
{% endif %}
            </table>
        </div>
</div>

<script src="static/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="static/js/dropD.js"></script>
</body>
</html>