<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<form method="post" action="">
    <!--
    ID <input type="number" name="idAngajat"value="{{ angajati.idAngajat }}" >
    <br>-->
    Nume <input type="text" name="nume" value="{{ angajati.Nume }}">
    <br>

    Prenume <input type="text" name="prenume" value="{{ angajati.Prenume }}">
    <br>
    Functie <input type="text" name="functie" value="{{ angajati.Functie }}">
    <br>

    Data angajarii <input type="date" name="data_angajarii" value="{{ angajati.DataAngajarii }}">
    <br>
    Telefon <input type="number" name="telefon" value="{{ angajati.Telefon }}">
    <br>

    Email <input type="text" name="email" value="{{ angajati.Email }}">
    <br>
    Salariu <input type="number" name="salariu" value="{{ angajati.SalariuRON }}">
    <br>

    <input type="submit" value="Update details">

</form>